.representation-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  .avtar-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .avatar-info {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    padding-top: 10px;
    color: #21313e;
  }
}
