html {
  font-size: 16px !important;
  body {
    font-family: "Kalameh" !important;
  }
}

:where(.css-dev-only-do-not-override-141rmge).ant-menu-light:not(
    .ant-menu-horizontal
  )
  .ant-menu-item:not(.ant-menu-item-selected):hover {
  color: #fff !important;
}
.ant-menu-item {
  &:active {
    background-color: transparent !important;
  }
  border-radius: 0.475rem !important;
}
.ant-form-item-label {
  color: #3f4254 !important;
}
.ant-form-item-control-input-content {
  .ant-input {
    border: none;
    padding: 0.775rem 1rem;
    font-size: 1.1rem !important;
    border-radius: 0.475rem;
  }
}

.ant-menu-item-selected {
  background-color: #fff !important;
  color: #3b82f6 !important;
  &::after {
    border-bottom-color: #3b82f6 !important;
  }
}

.ant-menu-item-active {
  &::after {
    border-bottom-color: #3b82f6 !important;
  }
}

.ant-menu {
  border: none !important;
}

// -------------slider-----------------
.slider {
  display: flex;
  justify-content: space-between;
}

// -------------about us-----------------
.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  text-align: center;
  .about-us-title {
    font-size: 1.625rem;
    color: #3b82f6;
  }
  .about-us-description {
    display: flex;
    flex-direction: column;
    font-size: 0.813rem;
    line-height: 1.626rem;
    padding-top: 10px;
    color: #9ba0c6;
  }
}
// -------------representation-----------------

.representation-section {
  padding-top: 50px;
  .representation-title {
    text-align: center;
    font-size: 1.563rem;
    color: #3b82f6;

  }
  .representation-card {
    padding-top: 30px;
  }
}

// -------------Supplies-----------------

.supplies-section {
  padding-top: 50px;
  .supplies-title {
    color: #3b82f6;
    text-align: center;
    font-size: 1.563rem;
  }
  .supplies-card {
    padding-top: 30px;
  }
}
// -------------seperator-----------------
.seperator-section {
  background-color: #eff2f9;
  margin-top: 50px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  .title {
    background-color: #dbeaff;
    display: flex;
    width: 7.5rem;
    height: 1.563rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    .text{
      color: #3b82f6;
    }
  }
  .trust-sub-text {
    padding-top: 10px;
    font-weight: 700;
    font-size: 30px;
  }
  .trust-sub2-text {
    font-weight: 700;
    font-size: 30px;
  }
  .description {
    padding-top: 25px;
  }
}

// -------------Management-----------------

.management-section {
  padding-top: 50px;

  .management-title {
    color: #3b82f6;
    text-align: center;
    font-size: 1.563rem;
  }
  .management-card {
    padding-top: 30px;
  }
}

// -------------Personnel-----------------

.personnel-section {
  padding-top: 50px;

  .personnel-title {
    color: #3b82f6;
    text-align: center;
    font-size: 1.563rem;
  }
  .personnel-card {
    padding-top: 30px;
  }
}

.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}
