.all-card {
  padding-top: 10px;
  .card {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 20px rgba(118, 112, 183, 0.1);
    border-radius: 0.438rem;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
    .card-info {
      display: flex;
      flex-direction: column;
      padding: 10px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      justify-content: center;
      .personal-name {
        h3 {
          font-size: 1.5rem;
          color: #3f4254;
        }
      }
      .personal-position {
        font-size: 0.7rem;
        color: #3f4254;
      }
    }
  }
}
