.form {
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  padding-bottom: 10px;

  .form-title {
    color: #21313e;
  }

  .form-description {
    color: #9ba0c6;
  }

  .icon-sec {
    display: flex;
    justify-content: center;
    .form-location {
      display: flex;
      align-items: center;
      color: #9ba0c6;
      padding-right: 10px;
    }
    .form-phone {
      display: flex;
      align-items: center;
      color: #9ba0c6;
      padding-right: 10px;
    }
    .form-email {
      display: flex;
      align-items: center;
      color: #9ba0c6;
      padding-right: 10px;
    }
  }
}

.whole-map {
  margin-top: 100px;
  .location {
    // padding-top: 100px;
    margin-top: -200px;
    border-radius: 7px;
    .leaflet-container {
      box-shadow: 0 4px 20px rgba(118, 112, 183, 0.1);
      border-radius: 10px;
      height: 400px;
    }
  }
}
