.card-holder {
  padding-top: 10px;
  .main-card {
    color: #3f4254;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 20px rgba(118, 112, 183, 0.1);
    border-radius: 0.438rem;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px;
    .avatar-name-position-expertise {
      display: flex;
      flex-direction: column;
      line-height: 1.5rem;
      p{
        margin-bottom: 0rem;
      }
      .avatar-name-position {
        display: flex;
        flex-direction: row;
        .name-position {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-right: 10px;
          .name {
            h3{
              font-size: 1.5rem;
            }
          }
          .position {
            font-size: 0.75rem;
            color: #3f4254;
          }
        }
      }
      .maneger-description {
        color: #a0a3b4;
        padding-top: 10px;
        font-size: 1rem;
      }
    }
  }
}
