.card-holder {
  padding-top: 10px;
  .main-card {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    height: 12.5rem;
    border-radius: 0.438rem;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 40px;
    .card-info {
      text-align: right;
      padding-right: 20px;
      line-height: 1.58rem;
      color: #3f4254;
      .name {
        font-size: 1rem;
      }
      .position {
        font-size: 0.75rem;
      }
      .expertise{
        font-size: 0.75rem;
      }
    }
  }
}