.card-holder {
  padding-top: 10px;
  .main-card {
    color: #3f4254;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.438rem;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 40px;
    .avatar-name-position-expertise {
      display: flex;
      flex-direction: column;
      line-height: 1.5rem;
      .avatar-name-position {
        display: flex;
        flex-direction: row;
        .name-position {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-right: 20px;
          .name {
            font-size: 1.2rem;
          }
          .position {
            font-size: 0.75rem;
            color: #3f4254;
          }
        }
      }
      .maneger-description {
        color: #a0a3b4;
        padding-top: 10px;
      }
    }
  }
}
