.text-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  line-height: 1.875rem;
  .slider-text-title {
    font-size: 2.5rem;
    line-height: 3.5rem;
    h1 {
      color: #21313e;
      margin-bottom: 0rem;
      span {
        color: #3b82f6;
      }
    }
  }
  .slider-text-sub {
    padding-top: 25px;
    color: #9ba0c6;
    span {
      color: #3b82f6;
    }
  }
}
