.text-slider {
    justify-content: center;
    align-self: center;
    padding-top: 50px;
    .title {
      font-weight: bold;
      font-size: 45px;
    }
    .sub-title {
      padding-top: 20px;
      font-size: 15px;
      font-weight: 400;
    }
  }